{% extends 'base.html.twig' %}

{% block main %}

    <div class="list-banner">
        <div class='list-content'>
            {% for photo in photos %}
                <img src="{{ photo.URLPhoto }}" alt='test' class="{{categorie.title}}"/>
            {% endfor %}
        </div>
    </div>
    <nav class="breadcrumb-container" aria-label="breadcrumb-container">
        <ol class="breadcrumb-content">
            <li class="breadcrumb-item-inactive"><a href="{{ path('app_index') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-home" width="25"
                         height="25">
                        <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                        <path d="M575.8 255.5c0 18-15 32.1-32 32.1l-32 0 .7 160.2c0 2.7-.2 5.4-.5 8.1l0 16.2c0 22.1-17.9 40-40 40l-16 0c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1L416 512l-24 0c-22.1 0-40-17.9-40-40l0-24 0-64c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32 14.3-32 32l0 64 0 24c0 22.1-17.9 40-40 40l-24 0-31.9 0c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2l-16 0c-22.1 0-40-17.9-40-40l0-112c0-.9 0-1.9 .1-2.8l0-69.7-32 0c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/>
                    </svg>
                </a></li>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="15" height="15">
                <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/>
            </svg>
            {% if categorieParente %}
                <li class="breadcrumb-item-inactive"><a
                            href="{{ path('app_categorie_show', { 'id': categorieParente }) }}">{{ categorie.title }}</a>
                </li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="15" height="15">
                    <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/>
                </svg>
                <li class="breadcrumb-item"><a href="{{ path('app_produit_categorie', { 'id': categorie.id }) }}">Liste
                        des
                        produits</a></li>
            {% endif %}
        </ol>
    </nav>
    {% if produits is null %}
        <p>Aucun produit trouvé pour cette catégorie.</p>
    {% else %}

        <section class="section-list">
            <h1>Produits de la catégorie <span
                        style="color:#8B6A4B;">{{ categorie.title }}</span></h1>
            <div class="list-products">
                {% for item in produits %}
                    <div class="card-container">
                        <div class="card-content">
                            {% if item.produit.sales is not empty %}
                                <div class="flag-percent">
                                    <span>{{ item.produit.sales.title }}</span>
                                </div>
                                <a href="{{ path('app_show_produit', { 'id': item.produit.id }) }}">
                                    <img src="{{ item.photos[0].urlPhoto }}" alt="{{item.produit.title}}">
                                    <div class="price-container">
                                        <p class="title">{{ item.produit.title }}</p>
                                        <p class="price-content">
                                            {% if item.produit.sales is not empty %}
                                                <span class="old-price">{{ item.oldPrice }} €</span>
                                            {% endif %}
                                            <sapn class="new-price">{{ item.prixTTC }} €</sapn>
                                        </p>
                                    </div>
                                </a>
                            {% else %}
                                {% if item.produit.id in newsProducts|map(produit => produit.produit.id) %}
                                    <div class="flag-news">
                                        <span>
                                            Nouveautés {% if item.produit.sales is not empty %}
                                                <span>{{ item.produit.sales.title }}</span>{% endif %} </span>
                                    </div>
                                {% endif %}
                                <div class="empty-percent">
                                    <span>0%</span>
                                </div>
                                <a href="{{ path('app_show_produit', { 'id': item.produit.id }) }}">
                                    <img src="{{ item.photos[0].urlPhoto }}" alt="{{item.produit.title}}">
                                    <div class="price-container">
                                        <p class="title">{{ item.produit.title }}</p>
                                        <p class="price-content">
                                            {% if item.produit.sales is not empty %}
                                                <span class="old-price">{{ item.oldPrice }} €</span>
                                            {% endif %}
                                            <span class="new-price">{{ item.prixTTC }} €</span>
                                        </p>
                                    </div>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}

{% endblock %}

