{% extends 'base_admin.html.twig' %}


{% block main %}
    <section class="admin-section">
        <div class="title-container">
            <a href="{{ path('app_admin_dashboard') }}" class="come-back">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                    <path fill="#000000"
                          d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
                </svg>
            </a>
            <h2>{{ title }}</h2>
        </div>
        <form class="mt-4 w-50 mx-auto">
            <input type='text' name='lastname' placeholder='recherchez par le nom' value='{{ lastname }}'>
            <input type='submit' name='submit' value='rechercher'>
        </form>
        <div class="details-container">
            <div class="details-content">
                {% for item in users %}
                    <div class="details-body">
                        <div class="admin-action">
                            <a href="{{ path('app_user_show_admin', { 'id': item.id }) }}">
                                <div>
                                    <h4>{{ item.lastname }} {{ item.firstname }}</h4>
                                </div>
                            </a>
                            <div class="action-container">
                                {{ include('BackOffice/User/user_delete.html.twig', { 'id': item.id }) }}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p>Aucun enregistrement</p>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}