{% extends 'base_admin.html.twig' %}


{% block main %}
    <h2>{{ title }}</h2>
    <table>
        <tr>
            <td>
            Nom
            {% if ( trilastname == 'desc') %}
                <a href="{{ path('app_user_list_admin') }}?lastname={{ lastname }}&trilastname=asc&trifirstname={{ trifirstname }}">></a>
            {% else %}
                <a href="{{ path('app_user_list_admin') }}?lastname={{ lastname }}&trilastname=desc&trifirstname={{ trifirstname }}"><</a>
            {% endif %}
            </td>
            <td>
            Prénom
            {% if ( trifirstname == 'desc') %}
                <a href="{{ path('app_user_list_admin') }}?lastname={{ lastname }}&trifirstname=asc&trilastname={{ trilastname }}">></a>
            {% else %}
                <a href="{{ path('app_user_list_admin') }}?lastname={{ lastname }}&trifirstname=desc&trilastname={{ trilastname }}"><</a>
            {% endif %}
            </td>
        </tr>
        <div class="row">
    <div class="d-flex justify-content-center gap-5">
        <div class="d-flex flex-wrap">
    {% for item in users %}
            <div class="card border p-3 bg-light d-flex flex-wrap align-items-center m-2 justify-content-center" style="width: 15rem; height: 15rem;">
                <div class="card-body d-flex align-items-center">
                    <a href ="{{ path('app_user_show_admin', { 'id': item.id })}}" class="card-text text-decoration-none">
                        <h5 class="card-title text-center">{{ item.lastname }} {{ item.firstname }}</h5>
                        
                </div>
                    </a>
                    <a href="{{ path('app_user_show_admin', { 'id': item.id })}}">Voir</a>
                    {{ include('BackOffice/User/user_delete.html.twig', { 'id': item.id })}} 
                      </div>
    {% else %}
        <tr>
            <td colspan="5">Aucun enregistrement</td>
        </tr>
    {% endfor %}
    </table>
    <form>
        <input type='text' name='lastname' placeholder='recherchez par le nom' value='{{ lastname }}'>
        <input type='submit' name='submit' value='rechercher'>
    </form>
    <a href="{{ path('app_admin_dashboard') }}" class="btn btn-secondary">Retour</a>
{% endblock %}