{% extends 'base.html.twig' %}

{% block title %}
    {{ title }} {# Titre de la page, récupéré dynamiquement #}
{% endblock %}

{% block main %}
    {# Conteneur pour la section de réinitialisation du mot de passe #}
    <div class="check_email_container">
        <div class="info_user_content">
            <h1 class="text-center mb-4">{{ title }}</h1> {# Titre principal de la section #}
            <div class="content-form">
                {# Formulaire pour changer le mot de passe #}
                <form method="post" class="needs-validation" novalidate>
                    {{ form_start(form) }} {# Démarre le formulaire Symfony #}
                    <div>
                        <label for="{{ form.Password.vars.id }}" class="form-label"></label> {# Étiquette pour le champ du mot de passe #}
                        {{ form_widget(form.Password, {'attr': {'class': 'form-input', 'placeholder': 'Entrez votre nouveau mot de passe'}}) }} {# Champ de saisie pour le mot de passe #}
                        {{ form_errors(form.Password) }} {# Affiche les erreurs de validation pour le champ du mot de passe #}
                    </div>

                    <div class="submit-container">
                        <button type="submit">Changer le mot de passe</button> {# Bouton de soumission pour le formulaire #}
                    </div>
                    {{ form_end(form) }} {# Termine le formulaire Symfony #}
                </form>
            </div>
        </div>
    </div>
{% endblock %}