{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <section class="product-section">
        <nav class="breadcrumb-container" aria-label="breadcrumb">
            <ol class="breadcrumb-content">
                <li><a href="{{ path('app_index') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-home" width="25"
                             height="25">
                            <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                            <path d="M575.8 255.5c0 18-15 32.1-32 32.1l-32 0 .7 160.2c0 2.7-.2 5.4-.5 8.1l0 16.2c0 22.1-17.9 40-40 40l-16 0c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1L416 512l-24 0c-22.1 0-40-17.9-40-40l0-24 0-64c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32 14.3-32 32l0 64 0 24c0 22.1-17.9 40-40 40l-24 0-31.9 0c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2l-16 0c-22.1 0-40-17.9-40-40l0-112c0-.9 0-1.9 .1-2.8l0-69.7-32 0c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/>
                        </svg>
                    </a></li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="15" height="15">
                    <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/>
                </svg>
                {% if categorieParente %}
                    <li><a
                                href="{{ path('app_categorie_show', { 'id': categorieParente }) }}">{{ produit.category.title }}</a>
                    </li>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="15" height="15">
                        <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                        <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/>
                    </svg>
                {% endif %}
                <li><a href="{{ path('app_produit_categorie', { 'id': categorie }) }}">Liste des
                        produits</a></li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="15" height="15">
                    <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/>
                </svg>
                <li class="breadcrumb-item" aria-current="page">{{ produit.title }}</li>
            </ol>
        </nav>
        {% for message in app.flashes('nice') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="product-block">
            <!-- Image à gauche -->
            <div class="productLeft-container">
                <div class="content">
                    {% for item in photos %}
                        <img src='{{ item.URLPhoto }}' alt='test'
                        />
                    {% endfor %}
                    {% if produit.sales is not empty %}
                        <div class="">
                            <span>{{ produit.sales.title }}</span>
                        </div>
                    {% endif %}
                </div>
            </div>
            <!-- Informations à droite -->
            <div class="productRight-container">
                <h2 style="color:var(--main);">{{ produit.title }}</h2>
                <div class="legends">
                    <strong>Nom :</strong> {{ produit.title }}
                </div>
                <div class="legends">
                    <strong>Description :</strong> {{ produit.description }}
                </div>
                {% if produit.sales is empty %}
                    <div class="legends">
                        <strong>Prix :</strong> {{ prixTTC }} €TTC
                    </div>
                {% else %}
                    <div class="legends">
                        <strong>Ancien Prix :</strong> {{ oldPrice }} €TTC
                    </div>
                    <div class="legends">
                        <strong> Nouveaux Prix :</strong> {{ prixTTC }} €TTC
                    </div>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {{ include('produit/_addToPanier.html.twig', { 'id': produit.id }) }}
                {% else %}
                    <div class="legends">
                        <a href='{{ path('app_register') }}'>Veuillez créer un compte ou vous connecter
                            pour ajouter un produit à votre panier</a>
                    </div>
                {% endif %}
                <div>
                    <p style="color:green;">En stock</p>
                    <li class=""> livraison gratuite</li>
                    <li class=""> garantie 3 ans</li>
                </div>
                
                <div>
                    <strong>Extrait audio :</strong> <audio controls> <source src={{ audio }} type="audio/mp3"></audio>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
