{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block main %}

    <section class="info_user_container">
        <nav class="breadcrumb-container" aria-label="breadcrumb">
            <ol class="breadcrumb-content">
                <li class="breadcrumb-item-inactive">
                    <a href="{{ path('app_index') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-home" width="25" aria-hidden="true"
                             height="25">
                            <path d="M575.8 255.5c0 18-15 32.1-32 32.1l-32 0 .7 160.2c0 2.7-.2 5.4-.5 8.1l0 16.2c0 22.1-17.9 40-40 40l-16 0c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1L416 512l-24 0c-22.1 0-40-17.9-40-40l0-24 0-64c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32 14.3-32 32l0 64 0 24c0 22.1-17.9 40-40 40l-24 0-31.9 0c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2l-16 0c-22.1 0-40-17.9-40-40l0-112c0-.9 0-1.9 .1-2.8l0-69.7-32 0c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/>
                        </svg>
                    </a>
                </li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="15" height="15" aria-hidden="true">
                    <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/>
                </svg>

                <li class="breadcrumb-item-inactive"><a
                            href="{{ path('app_panier') }}">Mon panier</a></li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="15" height="15" aria-hidden="true">
                    <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/>
                </svg>
                <li class="breadcrumb-item" aria-current="page"> Finalisation de la commande</li>
            </ol>
        </nav>
        <div class="info_user_content">
            <h2> Finalisez votre commande </h2>
            <div class="content-form">
                {{ form_start(form, {'attr': {'class': 'needs-validation'}}) }}

                <div>
                    <label for="{{ form.delivery.vars.id }}">Livraison
                        {{ form_widget(form.delivery, {'attr': {'class': 'form-select'}}) }}
                    </label>
                </div>

                <div>
                    <label for="{{ form.payment.vars.id }}">Paiement
                        {{ form_widget(form.payment, {'attr': {'class': 'form-select'}}) }}
                    </label>
                </div>

                <div>
                    <label for="{{ form.billed.vars.id }}">Adresse de facturation
                        {{ form_widget(form.billed, {'attr': {'class': 'form-select'}}) }}
                    </label>
                </div>
                <div>
                    <label for="{{ form.delivered.vars.id }}">Adresse de livraison
                    {{ form_widget(form.delivered, {'attr': {'class': 'form-select'}}) }}
                    </label>
                </div>

                <div class="cta-button">
                    <a href="{{ path('app_create_adresse_commande') }}">Ajouter une adresse de
                        livraison</a>
                </div>

                <div>
                    <label for="prix-ttc" class="total-order">Total de la commande
                        <input type="text" class="form-control" id="prix-ttc" name="prix-ttc"
                               value="{{ totalttc }} € TTC"
                               disabled>
                    </label>
                </div>

                <div class="submit-container">
                    <button type="submit">Soumettre</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>

{% endblock %}
