{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block javascript %}
{{ parent() }}
{{ encore_entry_script_tags('adresse') }}
{% endblock %}


{% block main %}
    <section class="info_user_container">
        <nav class="breadcrumb-container" aria-label="breadcrumb">
            <ol class="breadcrumb-content">
                <li class="breadcrumb-item-inactive">
                    <a href="{{ path('app_index') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-home" width="25"
                             height="25">
                            <path d="M575.8 255.5c0 18-15 32.1-32 32.1l-32 0 .7 160.2c0 2.7-.2 5.4-.5 8.1l0 16.2c0 22.1-17.9 40-40 40l-16 0c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1L416 512l-24 0c-22.1 0-40-17.9-40-40l0-24 0-64c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32 14.3-32 32l0 64 0 24c0 22.1-17.9 40-40 40l-24 0-31.9 0c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2l-16 0c-22.1 0-40-17.9-40-40l0-112c0-.9 0-1.9 .1-2.8l0-69.7-32 0c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/>
                        </svg>
                    </a>
                </li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="15" height="15">
                    <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/>
                </svg>

                <li class="breadcrumb-item-inactive"><a
                            href="{{ path('app_panier') }}">Mon panier</a></li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="15" height="15">
                    <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/>
                </svg>
                <li class="breadcrumb-item-inactive" aria-current="page"><a
                            href="{{ path('app_commande') }}">Finalisation de la commande</a></li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="15" height="15">
                    <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/>
                </svg>
                <li class="breadcrumb-item active" aria-current="page">Création d'adresse</li>

            </ol>
        </nav>
        <div class="info_user_content">
            <h1 class="mb-4">Mon adresse</h1>
            <div class="content-form">
                <form method='POST' id="createAdresse" class="info_user_form">
                    <p><span>*</span> Champs obligatoires</p>
                    <!-- Numero de voie -->
                    <div>
                        <label for="num_voie" class="form-label">Numero de voie <span>*</span></label>
                        <input type="text" class="form_input" name="num_voie" id="num_voie" required
                               placeholder="Exemple : 10 rue nomDeLaRue" value="{{ flag ? adresse.number : '' }}">
                    </div>
                    <!-- Rue -->
                    <div>
                        <label for="rue" class="form-label">Rue <span>*</span></label>
                        <input type="text" class="form_input" name="rue" id="rue" required
                               placeholder="Exemple : 10 rue nomDeLaRue" value="{{ flag ? adresse.street : '' }}">
                    </div>
                    <!-- Complément -->
                    <div>
                        <label for="complement" class="form-label">Complément</label>
                        <textarea class="form_input" name="complement" id="complement"
                                  placeholder="Exemple : Bâtiment B">{{ flag ? adresse.complement : '' }}</textarea>
                    </div>
                    <!-- Ville -->
                    <div>
                        <label for="ville" class="form-label">Ville <span>*</span></label>
                        <input type="text" class="form_input" name="ville" id="ville" list="cityList" required
                               placeholder="Exemple : Nom-De-La-Ville" value="{{ flag ? adresse.city.name : '' }}">
                        <input type="hidden" name="villeId" id="villeId" value="{{ flag ? adresse.city.id : '' }}">
                        <datalist id="cityList"></datalist>
                    </div>
                    <div>
                        <label for="postalCodeSelect" class="form-label">Code Postal <span>*</span></label>
                        <select class="form_input" name="postalCodeSelect" id="postalCodeSelect" required>
                            <option value={{ flag ? adresse.ZIPcode.title : '' }}>
                                {{ flag ? adresse.ZIPcode.title : 'Sélectionnez un code postal' }}
                            </option>
                        </select>
                        <input type="hidden" id="selectedPostalCodesId" name="selectedPostalCodesId"
                               class="form_select"
                               value="{{ flag ? adresse.ZIPcode.id : '' }}">
                    </div>
                    <div class="submit-container">
                        <button type="submit" name="submitAdresse">
                            Enregistrer
                        </button>
                    </div>
                </form>
                {% if app.user %}
                    <a href="{{ path('app_user') }}">Retour</a>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
