{% extends 'base.html.twig' %}


{% block title %} {{ title }} {% endblock %}   
{% block main %}
    <section class="first-section">
        <div class="first-section-container">
            <div class="content">
                <div class="title-box">
                    <h1>Les Maestros de la <span>Symfony</span></h1>
                    <h3>la musique à portée de clic</h3>
                </div>
                <div class="img-box">
                    <img src="{{ asset('images/mecquidance.png') }}" alt="image acceuil">
                </div>
            </div>
        </div>

        <div id="carouselCategorie" class="carousel-slider">
            <div class="carousel-container">
                {% for cate in dataCate %}

                    <div class="carousel-items {% if loop.first %}active{% endif %}">
                        <a href='{{ path('app_categorie_show', { 'id': cate.categorie.id }) }}'><img
                                    src="{{ cate.photos }}"
                                    class="img-carousel"
                                    alt="{{ cate.categorie.libelle }}"/></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>


    <section class="promo-section">
        <h2>Votre <span>passion</span>, nos promotions</h2>
        <h4>La musique, c'est notre passion, les promotions, c'est notre métier</h4>
        <div class="promo-card">
            <div class="scroll-container">
                {% for productData in data %}
                    <div class="card-container">
                        <div class="card-content">
                            <div class="flag-percent">
                                <span>{{ productData.produit.Promotion.libelle }}</span>
                            </div>
                            <a href="{{ path('app_show_produit', { 'id': productData.produit.id }) }}">
                                {% for photo in productData.photos %}
                                    <img src='{{ photo.URLPhoto }}' alt='{{ productData.produit.libelle }}'
                                         class='img-product'/>
                                {% endfor %}
                                <div class="price-container">
                                    <p class="title">{{ productData.produit.libelle }}</p>
                                    <p class="price-content">
                                        <span class="old-price">{{ productData.oldPrice }}€</span>
                                        <span class="new-price"> {{ productData.prixTTC }}€</span>
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                {% else %}
                    <div class="no-products">
                        <p> Aucun produit en promotion </p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <button class="prev-btn"> <</button>
        <button class="next-btn"> ></button>
    </section>

    <div class="vertical-line"></div>

    <section class="news-section">
        <h2> La <span style="color:var(--main);">musique</span> de demain, aujourd'hui</h2>
        <h4>La musique évolue constamment, et nous nous engageons à vous proposer les dernières
            nouveautés.</h4>
        <div class="news-card">
            {% for productData in dataNew %}
                <div class="card-container">
                    <div class="card-content">
                        <div class="flag-news">
                        <span>Nouveautés {% if productData.produit.Promotion is not empty %}
                                {{ productData.produit.Promotion }}
                            {% endif %}</span>
                        </div>
                        <a href="{{ path('app_show_produit', { 'id': productData.produit.id }) }}">
                            {% for photo in productData.photos %}
                                <img src='{{ photo.URLPhoto }}' alt='{{ productData.produit.libelle }}'
                                     class='img-product'/>
                            {% endfor %}

                            <div class="price-container">
                                <p class="title">{{ productData.produit.libelle }}</p>
                                <p class="price-content">
                                    {% if productData.produit.Promotion is not empty %}
                                        <span class="old-price">{{ productData.oldPrice }}€</span>
                                    {% endif %}
                                    <span class="new-price">{{ productData.prixTTC }}€</span>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}