

{% extends 'base_admin.html.twig' %}

{% block main %}
    

        <section class="section-list">
            <h1>Produits de la catégorie <span
                        style="color:#8B6A4B;">{{ category.title }}</span></h1>
            <div class="list-products">
            {% if products %}
        
                {% for item in products %}
                    <div class="card-container">
                        <div class="card-content">
                                <a href="{{ path('app_show_produit', { 'id': item.id }) }}">
                                    <img src="{{ item.photos[0].urlPhoto }}" alt="Image de {{category.title}}">
                                    <div class="price-container">
                                        <p class="title">{{ item.title }}</p>
                                        <p class="price-content">
                                                {{ item.TaxFreePrice }} € HT
                                        </p>
                                    </div>
                                </a>
                        </div>
                    </div>
                    {% endfor %}
            </div>
            
    {% else %}
    <p>Aucun produit trouvé pour cette catégorie.</p>
    {% endif %}

        </section>
    
 
{% endblock %}
