{% extends 'base_admin.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
 
    <h2>{{ title }}</h2>
        <div class="row mt-4">
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <strong>ID:</strong> {{ message.id }} <br>
                            <strong>Nom:</strong> {{ message.lastname }} <br>
                            <strong>Prénom:</strong> {{ message.firstname }} <br>
                            <strong>Addresse mail:</strong><a href='mailto:{{message.email}}'> {{ message.email }}</a> <br>
                        </div>
                    </div>
                </div>
        </div>

{% endblock %}