{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block javascript %}
{{ parent() }}
{{ encore_entry_script_tags('salesScrolling') }}
{% endblock %}

{% block main %}
    <section class="product-section">
        <nav class="breadcrumb-container" aria-label="breadcrumb">
            <ol class="breadcrumb-content">
                <li class="breadcrumb-item-inactive">
                    <a href="{{ path('app_index') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-home" width="25"
                             height="25">
                            <path d="M575.8 255.5c0 18-15 32.1-32 32.1l-32 0 .7 160.2c0 2.7-.2 5.4-.5 8.1l0 16.2c0 22.1-17.9 40-40 40l-16 0c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1L416 512l-24 0c-22.1 0-40-17.9-40-40l0-24 0-64c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32 14.3-32 32l0 64 0 24c0 22.1-17.9 40-40 40l-24 0-31.9 0c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2l-16 0c-22.1 0-40-17.9-40-40l0-112c0-.9 0-1.9 .1-2.8l0-69.7-32 0c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/>
                        </svg>
                    </a>
                </li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="15" height="15">
                    <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/>
                </svg>
                {% if mainProduct.parentCategory %}
                    <li class="breadcrumb-item-inactive">
                        <a href="{{ path('app_categorie_show', { 'id': mainProduct.parentCategory }) }}">
                            {{ mainProduct.category.title }}
                        </a>
                    </li>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="15" height="15">
                        <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/>
                    </svg>
                {% endif %}
                <li class="breadcrumb-item-inactive"><a
                            href="{{ path('app_produit_categorie', { 'id': mainProduct.category.id }) }}">Liste des
                        produits</a></li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="15" height="15">
                    <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/>
                </svg>
                <li class="breadcrumb-item" aria-current="page">{{ mainProduct.details.products.title }}</li>
            </ol>
        </nav>

        {% for message in app.flashes('nice') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        <div class="product-block">

            <div class="productLeft-container">
                <div class="content">
                    {% for item in mainProduct.photos %}
                        <img src='{{ item.URLPhoto }}' alt='Image Produit'/>
                    {% endfor %}
                    {% if mainProduct.details.products.sales %}
                        <div class="flag-percent">
                            <span>{{ mainProduct.details.products.sales }}</span>
                        </div>
                    {% else %}
                        {% for item in newProducts %}
                            {% if mainProduct.details.products.id == item.id %}
                                <div class="flag-news"><span>Nouveautés</span></div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>


            <div class="productRight-container">
                <div class="legends title">
                    <h2>{{ mainProduct.details.products.title }}</h2>
                    <span class="separator"></span>
                </div>
                <div class="legends">
                    <p>{{ mainProduct.details.products.description }}</p>
                </div>
                <div class="legends price">
                    <p>
                        {% if mainProduct.details.products.sales %}
                            <span class="old-price">{{ mainProduct.details.oldPrice }} €</span>
                        {% endif %}
                        {{ mainProduct.details.priceTTC }} €
                    </p>
                </div>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {{ include('FrontOffice/product/_addToPanier.html.twig', { 'id': mainProduct.details.products.id }) }}
                {% else %}
                    <div class="legends button">
                        <a href='{{ path('app_login') }}' class="button-connect">
                            Connectez-vous pour ajouter au panier
                        </a>
                    </div>
                {% endif %}
                <div class="legends-details">
                    <p class="qte">En stock</p>
                    <div>
                        <li class="ship">livraison gratuite</li>
                        <li class="garanteed">garantie 3 ans</li>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="promo-section">
        <h2>Ceci pourrait vous <span>intéresser !</span></h2>
        <div class="promo-card">
            <div class="scroll-container">
                {% for productData in randomProducts %}
                    <div class="card-container">
                        <div class="card-content">
                            {% if productData.details.products.sales is not empty %}
                                <div class="flag-percent">
                                    <span>{{ productData.details.products.sales }}</span>
                                </div>
                            {% endif %}
                            <a href="{{ path('app_show_produit', { 'id': productData.details.products.id }) }}">
                                {% for photo in productData.photos %}
                                    <img src='{{ photo.URLPhoto }}' alt='{{ productData.details.products.title }}'
                                         class='img-product'/>
                                {% endfor %}
                                <div class="price-container">
                                    <p class="title">{{ productData.details.products.title }}</p>
                                    <p class="price-content">
                                        {% if productData.details.products.sales is not empty %}
                                            <span class="old-price">{{ productData.details.oldPrice }}€</span>
                                        {% endif %}
                                        <span class="new-price"> {{ productData.details.priceTTC }}€</span>
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                {% else %}
                    <div class="no-products">
                        <p> Aucun produit en promotion </p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <button class="prev-btn">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" fill="#8B6A4B">
                <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/>
            </svg>
        </button>
        <button class="next-btn">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" fill="#8B6A4B">
                <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/>
            </svg>
        </button>
    </section>

{% endblock %}
