{% extends 'base_admin.html.twig' %}

{% block main %}

    <section class="admin-section">
        <div class="first-section-container">
            <div class="content">
                <div class="title-box">
                    <h1>Les Maestros de la <span>Symfony</span></h1>
                    <h3>la musique à portée de clic</h3>
                </div>
                <div class="img-box">
                    <img src="{{ asset('build/images/mecquidance.png') }}" alt="image acceuil">
                </div>
            </div>
        </div>

        <div class="kpi-container">
            <div class="kpi-content">
                <div class="kpi-body">
                    <a href="{{ path('app_user_list_admin') }}">
                        <div>
                            <h5>Nombre d'utilisateurs </h5>
                            <p>{{ data.users }}</p>
                        </div>
                    </a>
                </div>
                <div class="kpi-body">
                    <a href="{{ path('app_order_list_admin') }}">
                        <div>
                            <h5>Nombre de commandes </h5>
                            <p>{{ data.orders }}</p>
                        </div>
                    </a>
                </div>
                <div class="kpi-body">
                    <a href="{{ path('app_order_list_admin') }}">
                        <div>
                            <h5>Chiffre d'affaire TTC </h5>
                            <p>{% if data.revenue is same as(null) %} 0  {% else %} {{ data.revenue }} {% endif %}</p>
                        </div>
                    </a>
                </div>
                <div class="kpi-body">
                    <a href="{{ path('app_message_list_admin') }}">
                        <div>
                            <h5>Nombres de messages enregistrés </h5>
                            <p>{{ data.messages }}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>


        <div class="admin-container">
            <!-- Première ligne -->
            <div class="admin-content">
                <!-- Gestion des catégories -->
                <div class="admin-body">
                    <a href="{{ path('app_category_list_admin') }}">
                        <div>
                            <h5>Gestion des catégories</h5>
                        </div>
                    </a>
                </div>

                <!-- Gestion des produits -->
                <div class="admin-body">
                    <a href="{{ path('app_product_list_admin') }}">
                        <div>
                            <h5>Gestion des produits</h5>
                        </div>
                    </a>
                </div>

                <!-- Gestion des promotions -->
                <div class="admin-body">
                    <a href="{{ path('app_sales_list') }}">
                        <div>
                            <h5>Gestion des promotions</h5>
                        </div>
                    </a>
                </div>
                <!-- Gestion des commandes -->
                <div class="admin-body">
                    <a href="{{ path('app_order_list_admin') }}">
                        <div>
                            <h5>Gestion des commandes</h5>
                        </div>
                    </a>
                </div>
                <!-- Gestion des administrateurs -->
                <div class="admin-body">
                    <a href="{{ path('app_list_admin') }}">
                        <div>
                            <h5>Gestion des administrateurs</h5>
                        </div>
                    </a>
                </div>
                <!-- Gestion des clients -->
                <div class="admin-body">
                    <a href="{{ path('app_user_list_admin') }}">
                        <div>
                            <h5>Gestion des clients</h5>
                        </div>
                    </a>
                </div>
                <div class="admin-body">
                    <a href="{{ path('app_message_list_admin') }}">
                        <div>
                            <h5>Gestion des messages</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
