<style>
    h1 {
        font-size: 18px;
        text-align: center;
        color: #8B6A4B;
    }

    h2 {
        font-size: 14px;
        font-weight: bold;
    }

    p {
        font-size: 13px;
    }

    table {
        border: solid 1px black;
        width: 100%;
        text-align: center;
        margin-bottom: 80px;
    }

    th {
        border: solid 1px black;
    }

    td {
        border: solid 1px black;
    }

    .destC {
        text-align: right;
        padding-bottom: 80px;
        overflow: hidden;
    }

    .date {
        text-align: right;
        padding-right: 30px;
    }

    .logo {
        width: 150px;
        height: auto;
    }

    .container {
        width: 100%;
        max-width: 800px;
        margin: auto;
    }

    #logo {
        float: left;
        margin-right: 20px;
    }

    .footer{
        text-align: center;
    }
</style>

{% block main %}
    <div class='container'>
        <div id="logo">
            <img src="{{ logoUrl }}" alt='logo' class="logo">
        </div>
        {# Acheteur #}
        <div class="destC">
            <h2>Client</h2>
            {% if dataCommande.orderLine is defined and dataCommande.orderLine|length > 0 %}
                {% set firstLine = dataCommande.orderLine|first %}
                <p>{{ firstLine.userFirstname }} {{ firstLine.userLastname }}</p>
                <p>{{ firstLine.userEmail }}</p>
            {% endif %}
            {# Adresse de livraison #}
            <h3>Adresse de Livraison</h3>
            <p>{{ deliveryAddress.number }}  {{ deliveryAddress.street }}  {{ deliveryAddress.city.name }} {{ deliveryAddress.city.county.name }} {{ deliveryAddress.city.county.region.name }} </p>

            {# Adresse de facturation #}
            <h3>Adresse de Facturation</h3>
            <p>{{ deliveryBill.number }}  {{ deliveryBill.street }}  {{ deliveryBill.city.name }} {{ deliveryBill.city.county.name }} {{ deliveryBill.city.county.region.name }} </p>
        </div>
        <h1>Facture </h1>

        {# Produit #}
         <table>
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Quantité</th>
                    <th>Prix unitaire HT</th>
                    <th>TVA</th>
                    <th colspan="2">Total TTC</th>
                </tr>
            </thead>
            <tbody>
                {% set totalGeneral = 0 %}
                {% for dataP in dataProduit %}
                    <tr>
                        <td>{{ dataP.productName }}</td>
                        <td>{{ dataP.quantity }}</td>
                        <td>{{ dataP.productPrice|number_format(2, ',', ' ') }} €</td>
                        <td>{{ dataP.taxRate }} %</td>
                        <td colspan="2">{{ (dataP.productPrice + (dataP.productPrice * dataP.taxRate)/100)|number_format(2, ',', ' ') }} €</td>
                       
                    </tr>
                    {% set totalGeneral =  dataP.totalPrice %}
                {% endfor %}
                
                {# Ligne de total général #}
                <tr class="total-row">
                    <td colspan="4" style="text-align: center">Total de la commande</td>
                    <td colspan="2">{{ totalGeneral|number_format(2, ',', ' ') }} €</td>
                </tr>
            </tbody>
        </table>
        <div class="footer">
            <p>Merci pour votre commande !</p>
            <p>Les Maestros - {{ "now"|date("Y") }}</p>
        </div>
    </div>
{% endblock %}