{% block main %}
    {{ form_start(form, {
        'action': path('app_new_message'),
        'method': 'POST',
    }
    ) }}
    <div class="identity">
        <label for="{{ form.firstname.vars.id }}">
            {{ form_widget(form.firstname) }}
        </label>

        <label for="{{ form.lastname.vars.id }}">
            {{ form_widget(form.lastname) }}
        </label>
    </div>

    <label for="{{ form.email.vars.id }}">
        {{ form_widget(form.email) }}
    </label>

    <label for="{{ form.message.vars.id }}">
        {{ form_widget(form.message) }}
    </label>

    <div class="submit-container">
        <button type="submit">Envoyer</button>
    </div>

    {{ form_end(form) }}
{% endblock %}

